body{
  background-color: #f8f9fa;
  font-family: 'Open Sans', sans-serif;
}

.navbar-light .navbar-toggler{
  border: none;
}
#logo{
  max-width: 100px;
}

.txt-sub{
  color: #FF4081;
}

h1, h2, h3, h4, h5, h6{
  font-family:'Oswald', sans-serif;
  letter-spacing: 1px;
}

header, footer{
  padding: 12% 0;
}

.pd-sct{
  padding: 8% 0 !important;
}
.pd-proyecto{
  padding: 3% 0;
}
.img-proyecto{
  max-width: 400px;
}
.pos-txt{
  padding: 25% 5%;
}

a{
  text-decoration: none;
  color: #FF4081;
}
a:hover{
  text-decoration: none;
  color: #f8f9fa ;
  background-color: #FF4081;
  padding: 2% 2%;
}
.mail{
  color: #f8f9fa ;
  background-color: #FF4081;
  padding: 1% 1%;
}
.img-ref{
  max-width: 30%;
}